<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>amazonaws.com.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>http://bl-qa-app.us-east-1.elasticbeanstalk.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>BASE_URL</key>
	<string>http://bl-qa-app.us-east-1.elasticbeanstalk.com</string>
	<key>BASE_URL_DEV</key>
	<string>http://qsk.vizand.com</string>
	<key>URL_PATH_ACCOUNTS_SIGNUP</key>
	<string>/accounts</string>
	<key>URL_PATH_ACCOUNT_STATE</key>
	<string>/accounts/state</string>
	<key>URL_PATH_CONFIRM_SMS_VERIFICATION_CODE</key>
	<string>/accounts/phoneVerification/verifyCode</string>
	<key>URL_PATH_ENABLE_PUSH_NOTIFICATIONS</key>
	<string>/accounts/mine/pushToken</string>
	<key>URL_PATH_GET_BRANDS_LIST</key>
	<string>/brands</string>
	<key>URL_PATH_GET_MY_PROMO_CODE_TO_INVITE_FRIENDS</key>
	<string>/inviteFriend/mine</string>
	<key>URL_PATH_GET_MY_RECEIPTS_ITEMS</key>
	<string>/inbox/check?level=-1</string>
	<key>URL_PATH_GET_SMS_VERIFICATION_CODE</key>
	<string>/accounts/phoneVerification/getCode</string>
	<key>URL_PATH_POST_CASH_OUT</key>
	<string>/cashout</string>
	<key>URL_PATH_RECEIPTS_CLAIM_STARS</key>
	<string>/receipts/</string>
	<key>URL_PATH_RECEIPTS_RESULTS</key>
	<string>/receipts/results</string>
	<key>URL_PATH_SEND_GOOGLE_VISION_JSON_FOR_VALIDATION</key>
	<string>/snapshots/validate</string>
	<key>URL_PATH_SETTINGS_EULA</key>
	<string>/settings/eula</string>
	<key>URL_PATH_SETTINGS_FROM_SERVER</key>
	<string>/settings</string>
	<key>URL_PATH_UPGRADE_MINE_APP_VERSION</key>
	<string>/accounts/mine/upgrade</string>
	<key>URL_PATH_UPLOADED_RECEIPT_TO_S3</key>
	<string>/snapshots</string>
</dict>
</plist>
